<%= form_for(@administrator) do |f| %>
  <% if @administrator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administrator.errors.count, "error") %> prohibited this administrator from being saved:</h2>

      <ul>
      <% @administrator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @users.nil? || @users.empty?%>
   	<p> Impossible to add new administrators since all users are already administrators. </p>
  <% else %>
    <div class="field">
		<%= f.label :"Username:" %>
		<%= select("Administrator", "user_id", @users.collect {|u| [ u.username, u.id ] }, {:prompt => 'Select a user'})%>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
  <% end %>
  
  
<% end %>
