<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @administrator.user.name %>
</p>

<p>
  <b>Username:</b>
  <%= @administrator.user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @administrator.user.email %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @administrator.user.birthdate %>
</p>

<%= link_to 'Edit', edit_administrator_path(@administrator) %> |
<%= link_to 'Back', administrators_path %>
