<!DOCTYPE html SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Smartmaps Login</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag  "./login/login" %>
		<%= javascript_include_tag  "./jquery/jquery-latest" %>
		<%= javascript_include_tag  "./login/login" %>
    </head>
    <body>
		<% if !params[:notice].blank? %>
			<h2 class="notice"><%= params[:notice] %></h2>
		<% end %>
		
		<!-- Main Body Starts Here -->
		<div id="main_body">
			<!-- Form Title Starts Here -->
			<div class="form_title">
				<%= image_tag("./login/form_title.gif") %>
			</div>
			<!-- Form Title Ends Here -->
			<!-- Form Starts Here -->
			<div class="form_box">
				<form id="loginForm" name="loginform" action="login.php" method="post" enctype="multipart/form-data" onsubmit="return validateForm();" >
					<p class="form_text"> * Username: </p>
					<p class="form_input_BG"><input id="userInput" type="text" name="username" /></p>
					<!-- Clear -->
					<p class="clear">&nbsp; </p>
					<!-- Clear -->
					<!-- Password -->
					<p class="form_text" style="margin-left:8px;"> * Password: </p>
					<p id="passParagraph" class="form_input_BG">
						<input id="passwordInput" type="password" name="password" />
					</p>
					<!-- Password -->
					<!-- Clear -->
					<p class="clear">&nbsp; </p>
					<!-- Clear -->
					<p class="form_login_signup_btn">
						<%= image_submit_tag("./login/login_btn.png", :title => "Login now", :name => "login", :id => "submitInput") %>						
						<%= link_to image_tag("./login/signup_btn.png", :controller => "users", :action => "new", :title => "Register now", :name => "signup", :id => "signup") %>	
					</p>
				</form>
			</div>
			<!-- Form Ends Here -->
		</div>
		<!-- Main Body Ends Here -->
        
    </body>
</html>
