<!DOCTYPE html SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Smartmaps Login</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag  "./login/login" %>
		<%= javascript_include_tag  "./jquery/jquery-latest" %>
		<%= javascript_include_tag  "./login/login" %>
    </head>
    <body>
		<% if !params[:notice].blank? %>
			<h2 class="notice"><%= params[:notice] %></h2>
		<% end %>
		
		<!-- Main Body Starts Here -->
		<div id="main_body">
			<!-- Form Title Starts Here -->
			<div class="form_title">
				<%= image_tag("./login/form_title.gif") %>
			</div>
			<!-- Form Title Ends Here -->
			<!-- Form Starts Here -->
			<div class="form_box">
				<%= form_tag("/login/login", :method => "post", :id => "loginForm", :name => "loginform", :enctype => "multipart/form-data", :onsubmit => "return validateForm();") do %>
				  <%= label_tag(:username, "Username: ", :class => "form_text") %>
				  <p class="form_input_BG">
					<%= text_field_tag :username, nil, :id => "userInput" %>
				  </p>
				  
				  <br/>
				  
				  <%= label_tag(:password, "Password: ", :class => "form_text") %>
				  <p id="passParagraph" class="form_input_BG">
					<%= password_field_tag(:password, nil, :id => "passwordInput", :name => "password" ) %>
				  </p>
				  
				  <br/>
				  <p class="form_login_signup_btn">
					<%= image_submit_tag("./login/login_btn.png", :title => "Login now", :name => "login", :id => "submitInput") %>				
					<%= link_to image_tag("./login/signup_btn.png", :title => "Register now", :name => "signup", :id => "signup"), :controller => "users", :action => "new" %>	
				  </p>
				<% end %>
			</div>
		</div>
    </body>
</html>
